
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row">  
  <div class="col-md-4">
    <%= f.text_field :username, :class => "form-control input-sm", :placeholder => "Account" %>
  </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <div class = "input-group">
        <%= f.text_field :query, :id => "query", :class => "query form-control input-sm", :placeholder => "Query"%>
        <span class="input-group-btn">
          <button type = "button" id= "search-button" class = " btn btn-sm btn-primary" > Search </button>
        </span>
      </div>
      <div class= "list-group" id = "result">
      </div>

    </div>
    <div class = "col-md-6">
    <%= f.text_area :competitor, :id => "competitor", :class => "competitor form-control input-sm", :size => "15x20", :placeholder => "Competitors"%>
    </div>
  </div>
  </br>
  <div class="actions">
    <%= f.submit 'SUBMIT',:class => "btn btn-primary", :id =>"submit" %>
  </div>
<% end %>
